{{!-- The edit page for the list --}}

<div class="container" id="editList">
    <div class="row d-flex justify-content-center">
        <h1 class="listtitle my-3">Edit List!</h1>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 theList">
            <ul>
                {{#each listItem}}
                <li class="makeIt" data-id="{{id}}">
                    {{Item.name}}
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-6 premade">
            <button value="1" class="categories"><i class="fas fa-cheese"></i> Dairy</button>
            <button value="2" class="categories"><i class="fas fa-carrot"></i> Produce</button>
            <button value="3" class="categories"><i class="fas fa-bacon"> Meat</i></button>
            <button value="4" class="categories"><i class="fas fa-bread-slice"> Bread/Bakery</i></button>
            <button value="5" class="categories"><i class="far fa-snowflake"> Frozen</i></button>
            <button value="6" class="categories"><i class="fas fa-box-open"></i> Packaged/Dry Goods</button>
            <button value="7" class="categories"><i class="fas fa-utensils"></i> Other</button>
            <hr>
            <ul class="optionsList">
                {{#each listItem.Item.CategoryId}}
                <li data-id="{{id}}">
                    {{listItem.name}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <button class="goShopNow" type="button">Go Shopping!</button>
    </div>
</div>