{{!-- The shopping list --}}

<div class="container">
    <div class="row">
        <h1 class="text-center">Shopping List</h1>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="cow">
                <h3>Dairy</h3>
                <ul id="theDairy">
                    {{!-- push dairy items here as li --}}
                </ul>
            </div>
            <div class="veggies">
                <h3>Produce</h3>
                <ul id="Theproduce">
                    {{!-- push produce stuff here --}}
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div id="bread">
                <h3>Bread</h3>
                <ul id="theBread">
                    {{!-- push the breads stuff here --}}
                </ul>
            </div>
            <div id="other">
                <h3>Other</h3>
                <ul id="theOther">
                    {{!-- push the other things here --}}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button">Edit</button>
        <button type="button">Save</button>
    </div>
</div>