<button id="qsLoginBtn" class="btn btn-primary btn-margin auth-invisible hidden">
  {{#if (login.user)}}
    <a href="/user">welcome!</a>
    <a href="/logout">logout</a> 
    {{else}}
      <a href="/login">please login.</a>
  {{/if}}

</button>