<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>
        Speedy Shopper
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>
    {{{body}}}

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://kit.fontawesome.com/44876818e1.js" crossorigin="anonymous"></script>
    <script src="js/ui.js"></script>
    <script src="js/auth0.js"></script>
</body>

</html>