<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">Speedy Shopper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav d-flex">
            <ul class="navbar-nav">
                <li><a class="nav-item nav-link" href="#">Edit List</a></li>
                <li><a class="nav-item nav-link" href="#">Go Shopping</a></li>
            </ul>
            {{> login-block}}
        </div>
    </div>
</nav>

<div class="container my-5">
<div class="signin py-3">
<h1 class="d-flex justify-content-center listtitle my-3">
  Welcome!
</h1>
<hr>
<h3 class="d-flex justify-content-center">Please sign in to start creating a list.</h3>
</div>

    </footer>
</div>