form.signup,
form.login {
  margin-top: 50px;
}

body {
  background: url("br1.jpg");
  background-size: 100%, contain;
}

div#goshoplist {
  background: #efefef;
  border-radius: 25px;
}

div.signin {
  background: #efefef;
  border-radius: 25px;
}

h1.listtitle {
  font-family: "Lobster", cursive;
}

h2.nexttime, .obtained {
  font-family: "Lobster", cursive;
}

h4.userName {
  font-family: "Lobster", cursive;
  margin-right: 1vw;
  margin-left: 2vw;
}
h4.userNameBlock {
  font-family: "Lobster", cursive;
  margin-right: 1vw;

}

a.navbar-brand {
  font-family: "Lobster", cursive;
  font-size: 35px;
}

button.delete-listitem {
  background-color: #34a019;
}

button.next-time {
  background-color: #01b3d3;
}

button.undo-nexttime, .readd-listitem {
  background-color: #eb0505;
}

i.fa-cart-arrow-down {
  color: #efefef;
}

i.fa-share-square {
  color: #efefef;
}

a.LoginBtn {
  color: #efefef;
}

div#editList {
  background: #efefef;
  border-radius: 25px;
  margin-top: 50px;
}

div.theList {
  border: 1px dotted gray;
  border-radius: 25px;
}

div.premade {
  border: 1px dotted gray;
  border-radius: 25px;
}

button.addMe {
  background-color: #34a019;
}

button.goShopNow {
  font-family: "Lobster", cursive;
  font-size: larger;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #34a019;
}
